@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  color: #1e1e1e;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  background-color: #ffffff;
}

a,
button {
  transition: all 0.3s ease;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1344px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 60px;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;

  color: #ffffff;
  background-color: #34ae6b;

  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
  background-color: #2c9d60;
}

.header {
  padding: 10px 0;
}

.header__row {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  display: block;
  width: 198px;
  height: 64px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 24px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.header__nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #1e1e1e;

  transition: color 0.3s ease;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
  color: #34ae6b;
}

.header__nav-link-icon {
  fill: currentColor;
}

.header__phone {
  margin-left: auto;

  color: #1e1e1e;

  text-decoration: none;
  line-height: 1.1;
}

.header__phone:hover,
.header__phone:focus,
.header__phone:active {
  color: #34ae6b;
}

.header__search-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.header__search-btn:hover,
.header__search-btn:focus,
.header__search-btn:active {
  color: #34ae6b;
}

.header__search-btn-icon {
  fill: currentColor;
}

.main {
  padding: 20px 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 20px;
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #1e1e1e;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  color: #34ae6b;
}

.breadcrumbs__link--main {
  color: #34ae6b;
}

.breadcrumbs__separator {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/breadcrumbs-separator.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  position: relative;
  min-height: 813px;
  display: flex;
  align-items: center;
}

.hero::before {
  content: "";

  position: absolute;
  left: -4.5%;
  z-index: -1;

  width: 1040px;
  height: 1000px;

  background-image: url("../images/hero-bg-left.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::after {
  content: "";

  position: absolute;
  right: -4.5%;
  z-index: -1;

  width: 50%;
  height: 100%;

  background-image: url("../images/hero-bg-right.png");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 790px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 64px;
  line-height: 1.3;
}

.hero__description {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 18px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 12px;

  border: none;
  background-color: transparent;
}

.hero__btn:hover,
.hero__btn:focus,
.hero__btn:active {
  color: #34ae6b;
}

.hero__btn-icon {
  fill: currentColor;
}

.section__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}

.section__title--services {
  max-width: 870px;
  margin-bottom: 60px;
}

.services {
  position: relative;
  padding: 150px 0;
}

.services::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;

  width: 100%;
  height: 84%;
  background-image: url("../images/services-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.services__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding: 30px 22px;
  border-radius: 30px;
  box-shadow: 0px 4px 25px 0px #01080314;
}

.services__card-title {
  margin: 0 0 12px;

  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.services__card-description {
  margin-top: 0;
  margin-bottom: 32px;
}

.services__card-img {
  margin-top: auto;
}
