<footer class="footer">
    <section class="footer__top">
        <div class="container">
            <div class="footer__top-row">
                <div class="section__intro section__intro--footer">
                    <h2 class="section__title">Единая платформа — максимум эффективности</h2>
                    <p class="section__description">Забудьте о множестве разрозненных сервисов и приложений.</p>
                </div>
                <button class="btn footer__top-btn" type="button">Получить консультацию</button>
            </div>
    </section>
    <div class="container">



        <section class="footer__middle">
            <div class="footer__middle-row">
                <div class="footer__contacts">
                    <div class="footer__contacts-main">
                        <a href="/" class="footer__logo-link">
                            <img class="footer__logo-img" src="/images/logo-footer.png" alt="Битроид">
                        </a>
                        <ul class="footer__contacts-list">
                            <li class="footer__contacts-item">
                                <a href="tel:+74954142808" class="footer__link">+7 (495) 414 28 08</a>
                            </li>
                            <li class="footer__contacts-item">
                                <a href="mailto:b24@bitroid.ru" class="footer__link">b24@bitroid.ru</a>
                            </li>
                            <li class="footer__contacts-item">
                                428038, Чувашская республика, г. Чебоксары,<br> ул. Мате Залка, д 10, офис 1
                            </li>
                        </ul>
                    </div>
                    <ul class="footer__social-list">
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <img class="footer__social-icon" src="/images/icons/vk.png" alt="Мы в ВКонтакте">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <img class="footer__social-icon" src="/images/icons/telegram.png" alt="Мы в Telegram">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <img class="footer__social-icon" src="/images/icons/youtube.png" alt="Мы на YouTube">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu">
                    <div class="footer__menu-col">
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">О компании</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Контакты</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Отзывы</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Новости</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Статьи</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Акции</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Вопрос-ответ</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Оплата</a>
                            </li>
                        </ul>

                    </div>
                    <div class="footer__menu-col">
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Внедрение CRM</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Создание сайта</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Перенос сайта</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Поддержка сайтов</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Решения для государственных организаций</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Обучение</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Автоматизация</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Интеграция и настройка</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__menu-col footer__menu-col--last">
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">1С Битрикс лицензия</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Продление лицензий</a>
                            </li>
                        </ul>
                        <ul class="footer__menu-list footer__menu-list--last">
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Для партнеров</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__link">Вакансии</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="footer__secondary-menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a href="#" class="footer__link">ОКВЭД</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__link">дополнительная инфа как в реестре</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="footer__bottom">
            <div class="footer__bottom-row">
                <div class="footer__bottom-copyright">
                    <div class="footer__bottom-text">
                        <p>2026&copy;Bitroid.</p>
                        <p>Все права защищены.</p>
                    </div>
                </div>
                <div class="footer__bottom-privacy">
                    <a href="#" class="footer__bottom-link">Политика конфиденциальности</a>
                </div>
                <div class="footer__bottom-col">
                    <a href="#" class="footer__bottom-link">Пользовательское соглашение</a>
                </div>
            </div>
        </section>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>